@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vault-50 text-vault-900 font-sans antialiased selection:bg-amber-200 selection:text-amber-900;
  }
}

/* Custom smooth scroll and scrollbar */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F8F4EC;
}

::-webkit-scrollbar-thumb {
  background: #CCA77C;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B88652;
}
